body {
  padding-top: 80px;
}
pre {
  border: none;
  color: #2c3e50;
}
.table-bordered {
    border-color: #2C3E50;
}
.table-bordered > thead > tr {
  background-color: #2C3E50;
  color: #ecf0f1;
}
.table-bordered > thead > tr > th {
  border-color: #2C3E50;
}
.table-bordered > tbody > tr > td {
  border-color: #2C3E50;
}
footer {
  background-color: #2C3E50;
  padding: 20px 0;
  margin-top: 40px
}
footer p {
  margin: 0;
}
